<div class="contenedor-registro">
  <div class="tarjeta-registro">
    <h1>Inicia sesion en Market AI</h1>
    <br>
    <form [formGroup]="form" (submit)="doOnSubmit()">
      <mat-form-field>
        <mat-label for="email">Correo electronico</mat-label>
        <input matInput type="email" name="Correo" formControlName="Correo">
        @if (form.get('Correo')?.hasError('required')) {
          <mat-error>Este campo es Requerido</mat-error>
        }
        @if (form.get('Correo')?.hasError('email')) {
          <mat-error>Ingresa un formato de correo valido</mat-error>
        }
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label for="password">Contrasena</mat-label>
        <input matInput type="password" name="Contrasena" formControlName="Contrasena">
        @if (form.get('Contrasena')?.hasError('required')) {
          <mat-error>Este campo es Requerido</mat-error>
        }
        @if (form.get('Contrasena')?.hasError('minlength')) {
          <mat-error>Tu contrasena debe tener al menos 8 caracteres</mat-error>
        }
      </mat-form-field>

      <br>

      <div class="alinearEnCard">
        <p>No tienes cuenta? <a href="register" style="color: whitesmoke">Registrate</a></p>
      </div>

      <div class="alinearEnCard separador-social">
        <span>O inicia sesión con</span>
      </div>

      <div class="alinearEnCard">
        <button
          type="button"
          class="google-btn"
          mat-button
          (click)="loginWithGoogle()">

          <span class="google-icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 48 48"
                class="google-icon">
              <path fill="#FFC107" d="M43.6 20.5H42V20H24v8h11.3c-1.6 4.6-6 8-11.3 8-6.6 0-12-5.4-12-12s5.4-12 12-12c3 0 5.7 1.1 7.8 3l5.7-5.7C34.6 6.1 29.6 4 24 4 12.9 4 4 12.9 4 24s8.9 20 20 20 20-8.9 20-20c0-1.3-.1-2.7-.4-3.5z"/>
              <path fill="#FF3D00" d="M6.3 14.7l6.6 4.8C14 15.1 18.7 12 24 12c3 0 5.7 1.1 7.8 3l5.7-5.7C34.6 6.1 29.6 4 24 4 16 4 9 8.4 6.3 14.7z"/>
              <path fill="#4CAF50" d="M24 44c5.3 0 10.3-2.1 14-5.9l-6.4-5.3c-2 1.5-4.7 2.2-7.6 2.2-5.3 0-9.7-3.4-11.3-8L6.3 33.3C9 39.6 16 44 24 44z"/>
              <path fill="#1976D2" d="M43.6 20.5H42V20H24v8h11.3c-.8 2.3-2.3 4.3-4.4 5.7l6.4 5.3c-1.6 1.5 8.7-6.8 8.7-17 0-1.3-.1-2.7-.4-3.5z"/>
            </svg>
          </span>

          <span>Iniciar sesión con Google</span>
        </button>
      </div>

      <div class="botones">
        <button matButton="elevated" type="button" (click)="onCancel()">Cancelar</button>
        <button [disabled]="form.invalid || loading" matButton="elevated">Enviar</button>
      </div>
    </form>
  </div>
</div>
